///<reference path="../main.less" />

.list {
    padding-top: @pad-medium;
    padding-bottom: @pad-medium;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    &__container {
        .base-container();
    }

    &__header {
        .typo-header-medium;
        margin-bottom: @pad-medium;
    }

    &__card {
        .card;
        display: grid;
        width: 100%;
        grid-row-gap: @pad-small;
        grid-template-columns: 2em 1fr 1fr 3em;
        grid-template-rows: repeat(2, auto);
        margin: @pad-small 0;
        align-items: center;

        @media all and (max-width: 600px) {
            grid-template-columns: 2em 1fr 3em;
            grid-template-rows: repeat(3, auto);
        }

        &-circle {
            .glow-yellow;
            margin-right: @pad-medium;
            grid-row: 1;
            grid-column: 1;
        }
    }

    &__current {
        grid-column: 2;
        grid-row: 1;
    }

    &__value {
        .typo-header-medium;
        display: inline-block;
    }

    &__unit {
        .typo-text-medium;
        display: inline-block;
    }

    &__type {
        .unlink;
        .label-style--blue;
        .typo-text-medium;
        text-transform: uppercase;
        display: inline-block;
        align-self: center;

        &-wrapper {
            grid-row: 2;
            grid-column: 2;

            @media all and (max-width: 600px) {
                grid-row: 3;
            }
        }

        &-icon {
            margin-right: @pad-small;
        }
    }

    &__date {
        .typo-text-medium;
        color: @color-dark-grey;
        grid-row: 2;
        grid-column: 3;

        &-icon {
            margin-right: @pad-small;
        }

        @media all and (max-width: 600px) {
            grid-column: 2;
            grid-row: 2;
        }
    }

    &__control {
        color: @color-dark-grey;
        grid-row: 1;
        grid-column: 4;
        display: flex;
        justify-content: flex-end;

        &-link {
            .unlink;
            margin: 0 @pad-small;

            &--edit {
                &:hover {
                    color: @color-yellow;
                }
            }

            &--delete {
                &:hover {
                    color: @color-red;
                }
            }
        }

        @media all and (max-width: 600px) {
            grid-column: 3;
        }
    }
}
