@model FormRecordViewModel

<section class="edit-page">
    <div class="edit-page__container">
        <header class="edit-page__header">Edit Record</header>

        @Html.Partial("_Form.Record", Model)
    </div>
</section>

