@model FormRecordViewModel

<section class="add-page">
    <div class="add-page__container">
        <header class="add-page__header">Add new Record</header>

        @Html.Partial("_Form.Record", Model)
    </div>
</section>
