@model FormTariffViewModel

<section class="edit-page">
    <div class="edit-page__container">
        <header class="edit-page__header">Edit Tariff</header>

        @Html.Partial("_Form.Tariff", Model)
    </div>
</section>

