@model RType


<form class="form" method="post">
    <div class="form__field">
        <input class="form__input" type="text" step="any" name="Name" placeholder="Name" value="" />
    </div>
    <div class="form__field">
        <input class="form__input" type="text" name="Formula" placeholder="Formula" value="" />
    </div>
    <div class="form__field form__field--button">
        <input class="form__input button button--blue" type="submit" value="Submit" />
    </div>
</form>

